<% include ../partials/header.ejs %>
<div id="statusDiv" class="alert  text-center" style="display:none" role="alert"></div>
<div class="container">
<button id="addPost"  type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addModal" style="margin:10px;">Добавить &#10010;</button>
<div class="table-responsive">
  <table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Краткое описание</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
     <% posts.forEach((post) => { %>
       <tr id ="postData">
        <td scope="row"><%= post.title%></td>
        <td scope="row"><%= post.description%> </td>
        <td scope="row text-center">
            <a id="editPost" class="btn btn-info" data-id="<%= post._id%>" data-title="<%= post.title%>" data-description="<%= post.description%>"  data-toggle="modal" data-target="#editModal" style="color:white">
                 Изменить
            </a>
            <a id="deletePost"class="btn btn-danger" data-id="<%= post._id%>" style="color:white">Удалить</a>
        </td>
       </tr>
     <% }); %>
  </tbody>
</table>
</div>
<!--Add post modal-->
<div class="modal" id="addModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title">Добавление поста</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form class="newPost" enctype="multipart/form-data">
            <div class="form-group">
              <label for="post-title">Название:</label>
              <input type="text" id="post-title" class="form-control" name="title" placeholder="Название поста" required>
            </div>
            <div class="form-group">
                <label for="post-description">Название:</label>
                <textarea class="form-control" id="post-description" name="description" placeholder="Описание поста" required></textarea>
            </div>
             <div class="form-group">
               <input   id="file" type="file" name="file" required >
            </div>
             <input  class="btn btn-success createButton" type="submit" value="Создать">
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
</div>

<!--Edit post modal-->
<div class="modal" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title">Редактирование поста</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form class="editPost">
            <div class="form-group">
              <label for="post-title">Название:</label>
              <input type="text" id="edit-title" class="form-control" name="edit-title" placeholder="Название поста" required>
            </div>
            <div class="form-group">
                <label for="post-description">Название:</label>
                <textarea class="form-control" id="edit-description" name="edit-description" placeholder="Описание поста" required></textarea>
            </div>
             <div class="form-group">
               <input id="post_id" type="hidden" name="_id">
            </div>
             <input id="editButton" class="btn btn-primary" type="submit" value="Изменить">
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
</div>


<% include ../partials/footer.ejs %>
